<script type="text/ng-template" id="category-tmpl">
	<a class="{{data.active}}" href="#" ng-click="refresh(data)">{{data.name}}</a>
	<ul class="nav" ng-show="data.show_flag">
		<li ng-repeat="data in data.nodes" ng-include="'category-tmpl'"></li>
	</ul>
</script>

<script>
$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
</script>

<div class="row row-offcanvas row-offcanvas-left">

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
	  <ul id="categories" class="nav" ng-controller="CategoryCtrl">
			<li ng-repeat="data in tree" ng-include="'category-tmpl'"></li>
		</ul>
  </div>

  <div class="col-xs-12 col-sm-9">
  	<div id="conditions">
  		<div>
	  		<ul class="list-inline">
				<li class="pull-right" ng-controller="SortCtrl">
	  			<select class="form-control input-sm" ng-options="s.val as s.text for s in sorts" 
	  				ng-model="item.type" ng-change="sort()"></select>
				</li>
				</ul>
			</div>

	  	<div class="panel panel-default" id="conditions" ng-controller="ConditionCtrl">
			  <div class="panel-body">
			  	<ul class="list-inline">
				    <li><strong>価格帯</strong></li>
				    <li ng-click="retrieveByPrice()"><a href="#">全て</a></li>
				    <li ng-click="retrieveByPrice(0)"><a href="#">0-250円</a></li>
				    <li ng-click="retrieveByPrice(1)"><a href="#">250-500円</a></li>
				    <li ng-click="retrieveByPrice(2)"><a href="#">500-1000円</a></li>
						<li ng-click="retrieveByPrice(3)"><a href="#">1000-1500円</a></li>
				    <li ng-click="retrieveByPrice(4)"><a href="#">1500-3000円</a></li>
				    <li ng-click="retrieveByPrice(5)"><a href="#">3000-5000円</a></li>
				    <li ng-click="retrieveByPrice(6)"><a href="#">5000円以上</a></li>
					</ul>
					<ul class="list-inline ">
				    <li><strong>在庫の有無</strong></li>
				    <li ng-click="retrieveByStock(0)"><a href="#">全て</a></li>				    
				    <li ng-click="retrieveByStock(1)"><a href="#">有のみ</a></li>
					</ul>
			  </div>
			</div>
		</div>  

		<div id="books" ng-controller="BookCtrl">
			<div infinite-scroll="loadMore()" infinite-scroll-disabled='busy'>
				<div class="row">
  				<div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="item in items" style="height:300px;">
	  				<a href="{{item.url}}" class="thumbnail" target="_blank"><img ng-src="{{item.image_url}}"></a>
			  		<a href="{{item.url}}" target="_blank"><small>{{item.title}} ({{item.label}})</small></a>
				  	<p class="text-danger"><small>{{item.price}}</small></p>
				  	<p class="text-warning"><small>{{item.format}}</small></p>
				  </div>
			  </div>
			  <div id="donetext"></div>
			</div>
		</div>
  </div>

</div>